<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amanapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.AmanApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".application.activities.ListFolderActivity" />
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Our App Key -->
                <data android:scheme="db-ixpfhawscfbmdyn" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".application.activities.FileDetailsActivity"
            android:label="@string/title_activity_file_details"
            android:theme="@style/AppTheme" />
        <activity android:name=".application.activities.UploadActivity" />
        <activity
            android:name=".application.activities.RegisterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".application.activities.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".application.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".application.activities.QrCode" />
        <activity android:name=".application.activities.Authentication" />
        <activity android:name=".application.activities.QrCode2" />
    </application>

</manifest>